*{
    padding: 0;
    margin: 0;
  }
  
  body{
    background-image: url(https://res.cloudinary.com/dc8kig0rh/image/upload/v1670662859/e5d2191afbf8b4fa0bf502bbea6b70c7_ltbvb7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  header{
    background-color: antiquewhite;
    height: 30px;
  }
  .main{
    
  }
  
  .MainButtons button:hover{
    transform: scale(1.1);
  }
  .homeLogolabel
  {
    position: absolute;
    font-size: 15px;
    top:6%;
    left:5.5%;
  }
  .h11{
    padding-top:1.7%;
    text-align: center;
    font-style: italic;
    padding-bottom:30px;
  }
  .button1{
    position: absolute;
    left:8%;
    top:15%;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 80px;
    cursor:pointer;
  }
  
  .button2{
    position: absolute;
    left:27%;
    top:15%;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 80px;
    cursor: pointer;
  }
  .button3{ 
    position: absolute;
    left:46%;
    top:15%;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 80px;
    cursor: pointer;
  }
  .signin{
    position: absolute;
    top:2.5%;
    left:87%;
    background-color:rgb(30, 33, 228);
    border-color:#1e21e4;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-style: bold;
    padding: 10px 10px;
    border-radius: 12px;
    cursor: pointer;
  }
  .homepage{
    font-family: 'Times New Roman', Times, serif;
  }
  .deals{
    position: absolute;
    top:27%;
    left:2%;
  
  }
  .where{
    -webkit-animation: change 5s infinite;
    Animation:change 5s infinite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-style: italic;
    top:63%;
    left:67%;
  }
  @keyframes change {
    0%{
      color:red;
      text-shadow: 3px;
      text-shadow: white;
    }
    25%{
      color:orange;
      text-shadow: 3px;
      text-shadow: white;
    }
    50%{
      color: blueviolet;
      text-shadow: 3px;
      text-shadow: white;
    }
    75%{
      color:#1e21e4;
      text-shadow: 3px;
      text-shadow: white;
    }
    100%{
      color:blue;
      text-shadow: 3px;
      text-shadow: white;
    }
  }
  .where h1{
    font-size: 50px;
  }
  .where h4{
    font-size: 30px;
  }
  .MainButton button:hover{
    transform: scale(1.1);
  }
  .LogoHome{
    position: absolute;
    height:60;
    width:60;
    top:0.2%;
  }
  .LogoHome img{
    height:80px;
    width:80px;
  }
  .main{
    text-align: center;
  
  }
  .country
  {
    font-size:14px;
    position: absolute;
    top:4%;
    left:78%;
  }
  .country select{
    border-radius: 30px;
  }
  
  .frontdownimage
  {
    position: absolute;
    top:45%;
    left:2.5%;
    border:white 1px solid;
    height:300px;
    width:220px;
    padding:3px 3px;
  }
  .frontdownimage img{
    height:300px;
    width: 220px;
  }
  .sideimage1
  {
    position: absolute;
    top:40%;
    left:28%;
    border:#000000 1px solid;
    height:220px;
    width:400px;
    padding:3px 3px;
  }
  .sideimage1 img{
    height:220px;
    width: 400px;
    ;
  }
  .sideimage2
  {
    position: absolute;
    top:12%;
    left:65%;
    /*border:#000000 1px solid;
    height:220px;
    width:400px;*/
  }
  .sideimage2 img{
    height:220px;
    width: 400px;
    border-radius: 30px;
    ;
  }

  